<b>About the SPBU</b>

⚓️ <u>St. Petersburg State University</u>
is <b>the oldest university</b> in Russia and
one of the largest research and educational centres
in Europe and the world, with more than <b>20 thousand students</b>.

🦾 <u>Science Park</u> has 24 resource centres
which make this facility unique regarding
its technological capabilities and equipment,
not only in Russia but also <b>in the world</b>.

🇷🇺 <u>Alumni of the university</u> include six prime ministers
and two presidents of the Russian Federation
and nine Nobel Prize winners.

🧑‍⚖️ <u>According to Federal Law</u>,
the university has its <b>own criteria</b> for
defending dissertations and awarding scientific degrees.